body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #BCB2B2;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.form-container {
    background-color: #BCB2B2;
    padding: 100px;
    justify-content: center;
    border-radius: 16px;
    font-size: x-large;
}

.header h1 {
    font-size: 60px;
    margin-bottom: 12px;
}

.header p {
    font-size: 25px;
    margin-bottom: 100px;
}

.input-group {
    margin-bottom: 16px;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
}

.input-group input {
    width:40%;
    padding: 15px;
    border: 2px solid #BCB2B2;
    border-radius: 12px;
}

.input-group input:focus {
    border-color: #000;
}

input{
    font-size: 20px;
}

.password-toggle {
    cursor: pointer;
    font-size: 14px;
    color: #000;
    text-decoration: underline;
}

.image-container {
    background-image: url('https://images.unsplash.com/photo-1514924013411-cbf25faa35bb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1380&q=80');
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

button {
    padding: 20px 40px;
    margin-bottom: 10px;
    margin-top: 30px;
    background-color: #000;
    font-size: large;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.link{
    color: black;
}
